body {
    font-family: 'Roboto', sans-serif;
}
.main-header>h1 {
    margin: 0px;
    background-color: aquamarine;
    padding: 24px;
    text-align: center;
}
.main-header>h2 {
    margin-bottom: 0px;
}
.main-header>h4 {
    margin-top: 0.5%;
    font-style: italic;
}
main {
    background-color: cornsilk;
    padding: 16px;
    text-align: center;
}
footer {
    background-color: aquamarine;
    padding: 16px;
    text-align: center;
}
.section-content {
    display: none;
}

.section-header {
    font-weight: bold;
    text-decoration: underline;
}

.section-content.active {
    display: block;
}
.nav-fitur {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
}
.nav-fitur a {
    cursor: pointer;
}
.nav-fitur a:hover {
    text-decoration: underline;
    background-color: darkcyan;
    border: aquamarine;
}
.nav-fitur>a {
    cursor: pointer;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
}
.nav-fitur-active {
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 3px solid cornsilk;
}
.nav-fitur-non-active {
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 3px solid cornsilk;
}
.section-image-persegi {
    background-image: url(../assets/persegi.jpg);
    width: 300px;
    height: 200px;
    justify-self: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.section-image-persepanjang {
    background-image: url(../assets/persepanjang.png);
    width: 300px;
    height: 200px;
    justify-self: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.calculate-content {
}
.calculate-content>div {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.calculate-content input[type="number"] {
    width: 25%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.calculate-content button {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculate-content button[type="submit"]:hover {
    background-color: #45a049;
}
section {
    margin-top: 16px;
    margin-bottom: 16px;
}
